/* Normalise CSS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased; /* fix for safari */
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #DFCFBE;
}

/* Generic class for all buttons to inherit from */
.buttons {
    display: flex;
    width: 100px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    margin: 0 6%;
    font-size: 3vw;
}


#topTwoButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* attempt media queries for logarithmic spacing */
@media (max-width: 600px) {
    #hugButton, #stairsButton, #waterButton, #foodButton {
        margin: 0 2vw;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    #hugButton, #stairsButton, #waterButton, #foodButton {
        margin: 0 15vw;
    }
}

/* TODO: at really large screen sizes (desktopp) just put the buttons on the left to the right, and the buttons on the right to the left of the overall div area. */
@media (min-width: 12001px) {
    #hugButton, #waterButton {
        /* set to the right of the div */
        align-items: flex-end;

        /* note: for now, this aligns just the text within the button, not the button itself,
        in future (TODO), change align-items to something else */
    }
}


#centreButton { /* I hate American spelling: can't believe that was causing an issue before changing it */
    size: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottomTwoButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Individual buttons custom look */

#mainHelpButton { /* Thanks to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons */
    /* background-color: #04AA6D; */
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    width: calc(220px + 2vw);
    height: calc(220px + 2vw);
    min-width: 220px;
    min-height: 220px;
    border-radius: 50%;
    border: 2px solid #000000;
    
}

/*
#hugButton {
    background-color: #3979f0;
}
*/

.sidebutton {
    font-size: 16px;
    font-weight: bold;
    /*margin: 4px 2px;
    margin-left: 10%;
    margin-right: 10%; */
}

#nothing {
    color: #e72a11;
}

#patientassiststatus {
    text-align: center;
    align-items: center;
    background-color: #cacaca;
    /* Max width calc is logarithmic on larger screens, e.g. as screen width increases, the text box width increases marginally more. */
    height: 6vh;
    vertical-align: middle;
}

#defaultHiddenStatusText {
    text-align: center;
    vertical-align: middle;
    height: 6vh;
}

#wsHistory {
    text-align: center;
    align-items: center;
    background-color: rgb(202, 202, 202);
    /* Max width calc is logarithmic on larger screens, e.g. as screen width increases, the text box width increases marginally more. */
    height: 6vh;
    vertical-align: middle;
}

#txtBox, #patientIdInput {
    margin-top: 10vh; /* Margin is above the text box, whereas padding is part of it! Learnt the hard way! */
    width: 80%;
    height: 2em;
    font-size: medium;
    text-align: center;
    border: 1px solid #e72a11;
    border-radius: 10px;
    background-color: #f0f0f0;
    
    /* Max width calc is logarithmic on larger screens, e.g. as screen width increases, the text box width increases marginally more. */
    max-width: calc(240px + 12vw);
    min-width: 240px;
}

/* Tried to implement a rainbow border, but it's not working well. */
#DELtxtBox:focus {
    border-radius: 15px;
    background-color: #f0f0f000;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red) 1;
    border-image-slice: 1;
    animation: rainbowMovingBorder 5s infinite linear;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

@keyframes rainbowMovingBorder {
    0% { border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red) 1; }
    100% { border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, violet) 1; }
}

