html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


/* Main generic class for all buttons to inherit */
.buttons {
    /* flexbox */
    width:100px;
    height:100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    /* generic styles */
    border: none;
    display: flex inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    /* background-color: #3979f0; */
}

#topTwoButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#centerButton {
    size: 40pc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottomTwoButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Individual buttons custom look */

#mainHelpButton { /* Thanks to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons */
    /* background-color: #04AA6D; */
    font-size: 16px;
    width: calc(50vw - 50px);
    height: calc(50vw - 50px);
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
}

/*
#hugButton {
    background-color: #3979f0;
}
*/

.sidebutton {
    font-size: 16px;
    /*margin: 4px 2px;
    margin-left: 10%;
    margin-right: 10%; */
}

#nothing {
    color: #e72a11;
}
